body {
  text-align: center;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/09/a6/60/09a6604c8dc2dca5197f2c5c4b0303ea.jpg);
	color: white;
  padding: 50px;
}

h1{
  font-size: 45px;
  font-family: monospace;
}

#yourHoroscope {
  font-size: 25px;
  font-family: monospace;
}

#userdata{
  height:20px;
  width:200px;
  border-radius: 5px;
}

.btn {
margin-top: 20px;
font-family: monospace;
height: 30px;
width:100px;
border-radius: 5px;
background-color: lightgrey;
color:black;
font-size: 20px;
}

.btn:hover{
  background:white;
}

h2{
  font-family: monospace;
  font-size: 25px;
}

#signImage {
  height: 200px;
  width: 250px;
}
