body {
  text-align: center;
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/09/a6/60/09a6604c8dc2dca5197f2c5c4b0303ea.jpg);
	color: white;
  padding: 50px;
}

h1{
  font-size: 30px;
}
